.header {
    display: flex;
    background-color: black;
    justify-content: center;
}


h1 {
    text-align: center;
    font-family: monospace;
    font-size: 32px;
    color: white;
}

.results-container,
.button-container {
    background-color: rgb(235, 235, 235);
}

.results-display {
    display: flex;
    flex: 1 1 auto;
    font-size: 32px;
    max-width: 40vw;
}

.results-container {
    display: flex;
    justify-content: center;
    padding-top: 32px;
}

.button-container {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 32px;
}

button {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    font-size: 32px;
    border-radius: 12px;
    background-color: rgb(253, 253, 255);
    color: black;
    width: 6vw;
    height: 8vh;
    margin: 2px;
}

.function {
    background-color: rgb(255, 182, 74);
}

.row {
    display: flex;
    justify-content: space-evenly;
    width: 40vw;
}